rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function authed()  { return request.auth != null; }
    function isAdmin() { return authed() && request.auth.uid == "rVrRomrCGbPqPcrPddtBTpdcLoh2"; }

    match /users/{uid} {
      allow read: if authed();
      allow create: if authed() && request.auth.uid == uid;
      allow update: if authed() && (request.auth.uid == uid || isAdmin());
      allow delete: if isAdmin();
    }

    match /expenses/{id} {
      allow create: if authed() && request.resource.data.ownerId == request.auth.uid && request.resource.data.status == "pending";
      allow read: if authed();
      allow delete: if authed() && resource.data.ownerId == request.auth.uid && resource.data.status == "pending";
      allow update: if isAdmin();
    }

    match /splits/{id} {
      allow create: if authed() && request.resource.data.payerId == request.auth.uid && request.resource.data.status == "pending";
      allow read:   if authed();
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }

    match /houseBills/{id} {
      allow read: if authed();
      allow create, update, delete: if isAdmin();
    }
  }
}
